@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-lato: 'Lato', sans-serif;
  --color-brand-bg: #f5f2ef;
  --color-brand-primary: #a68d71;
  --color-brand-secondary: #b28e65;
  --color-brand-text: #737373;
}
